body{
	background-color:#80ffff ;


}

h2{
	margin: 0 5%;
	font-size: 50px;
	text-align:center; 
	cursor:help; 

}
hr{
	border:solid;
	color: black
}
h1{
	margin: 0 5%;
	font-weight: bold;
	font-size: 100px;
	text-align:center;
	cursor: default;
}
h3{
	padding-left:250px;
	text-align:center;
	cursor: pointer;
}